body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
/* ======== конец сброса стилей */

.wrapper {
  margin: auto;
  width: 80%;
  max-height: 1080px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font-family: "pt_serifbold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_dark_blue {
  background: #0056ec;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.menu {
  display: flex;
  align-items: center;
  padding-top: 7px;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  transition: opacity 1s;
}
.menu__item:last-child {
  margin-right: 1px;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
}

.main {
  padding: 76px 63% 150px 0;
  background: url("../img/Frame.svg");

  background-repeat: no-repeat;
  background-position: top right;
}

.main__title {
  margin: 0 0 35px 0;
  font-weight: bold;
  font-size: 66px;
  line-height: 87px;
  font-family: "pt_serifbold", Arial, Helvetica, sans-serif;
}

.main__title-text_higglight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, #ecf3ff 15%);
}

.main__subtitle {
  margin: 0 0 42px 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding-right: 15%;
  font-size: 22px;
  line-height: 26px;
}

.main__button {
  display: inline-block;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
  padding: 18px 34px 18px 23px;
  background: #0056ec;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity 0.5s;
}

.main__button:hover {
  opacity: 0.5;
}
